0
/* fonts */
@font-face {
    font-family: 'StencilStd';
    src: url('fonts/stencilstd/StencilStd.woff') format('woff'),
         url('fonts/stencilstd/StencilStd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  background-color: black;
  color: white;
  font-family: Verdana; 
}

.threeColumn {
  column-count: 3;
}

h3 {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: "StencilStd", sans-serif;
}

nav {
  text-align: center;
  font-family: "Papyrus";
}

h5 {
  text-align: center;
  font-size: 20px;
}

.zoom-img {
  width: 300px;
  height: 300px;
}

.zoom-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .3s ease;
}

.zoom-img img:hover {
  transform: scale(1.2);
}
