
/* fonts */
@font-face {
    font-family: 'StencilStd';
    src: url('fonts/stencilstd/StencilStd.woff') format('woff'),
         url('fonts/stencilstd/StencilStd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  background-color: black;
  color: white;
  font-family: Verdana;
  background-image: url('images/oneissilver.png');
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: "StencilStd", sans-serif;
}

nav {
  text-align: center;
  font-family: "Papyrus";
}

h5 {
  text-align: center;
  font-size: 20px;
}
